.home, .page, .blog, .single, .archive, .search, .error404 {
  background: #990000 url('../images/bkgd.jpg') no-repeat 50% 0;
  .content.content-bkgd {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    margin-top: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
  }
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min) {
    margin-left: 0;
  }
}

footer {
  margin-bottom: 150px;
}
