.home, .page, .blog, .single, .archive {
  background: #990000 url('../images/bkgd.jpg') no-repeat 50% 0;
  .content.content-bkgd {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    margin-top: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.59);
  }
}

@import "../widgets/textwidget";

@import "../woocommerce/buttons";
@import "../woocommerce/messages";

.sidebar-banner {
  margin-left: -30px;
  margin-bottom: 30px;
	height: 339px;
	width: 342px;
	background-color: #684b22;
	z-index: 100;
}

.sidebar-banner-retailers {
  margin-left: -10px;
  margin-bottom: 30px;
	height: 339px;
	width: 322px;
	background-color: #684b22;
	z-index: 100;
}

#menu-viva-michelada {
  background: none;
  a {
    color: $brand-primary;
  }
}

.attachment-post-thumbnail {
  display: none;
  margin-left: -15px;
  @media (min-width: $screen-lg-min) {
    display: block;
  }
}

.page-header {
  // padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 1.5) 0 $line-height-computed;
  //border-bottom: 1px solid $page-header-border-color;
}

footer {
	height: 150px;
	margin-top: 30px;
	font-size: $font-size-small;
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	a {
		color: lighten(#be9962, 30%);
	}
}

.footer-logo {
	max-width: 100%;
}

.nav {
  font-size: $font-size-large;
  font-weight: 700;
  height: 69px;
  background: url('../images/menu-bkgd.png') repeat-x 0 0;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      @include navbar-vertical-align(47px);
      color: #be9962;
      position: relative;
      display: block;
      // padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        // background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      // color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        // color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        // cursor: $cursor-disabled;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      // background-color: $nav-link-hover-bg;
      border-color: transparent; // $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}

// Give the tabs something to sit on
.nav-tabs {
  // border-bottom: 1px solid $nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
  	margin-top: -10px;
  	height: 181px;
  	background: transparent url('../images/dropdown-bkgd.png') no-repeat 50% 0;
  	box-shadow: none;
  	width: 100%;
  	text-align: center;
    top: auto;
    left: auto;
    li > a {
    	font-weight: 700;
    	padding-top: 11px;
    }
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}

#carousel {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	z-index: -2;
	border-bottom: 11px solid #684b22;
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  width: 40%;
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 10;
  padding-top: 10px;
  // padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: left;
  text-shadow: $carousel-text-shadow;
  h1 {
  	text-weight: 900;
  }
  small {
  	color: $brand-primary;
  }
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

.carousel-banner {
	position: absolute;
	right: 80px;
	top: 80px;
	height: 360px;
	width: 250px;
	background-color: #684b22;
	z-index: 100;
	border-radius: $border-radius-large;
}

.carousel-banner-logo {
	position: relative;
	top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-banner-buttons {
	text-align: center;
	position: relative;
	top: 30px;
	.btn {
		margin-top: 11px;
	}
}
