// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #990000;

$navbar-height:         69px;

$headings-font-weight:    700;

$page-header-border-color: #684b22;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Large screen / wide desktop
$container-large-desktop:      (1020px + 30px) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

//== Navs
//
//##

//=== Shared nav styles
// $nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         transparent; // $gray-lighter !default;

// $nav-disabled-link-color:                   $gray-light !default;
// $nav-disabled-link-hover-color:             $gray-light !default;

//== Tabs
$nav-tabs-border-color:                     transparent; // #ddd !default;

$nav-tabs-link-hover-border-color:          transparent; // $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             transparent; // $body-bg !default;
$nav-tabs-active-link-hover-color:          #be9962;// $gray !default;
$nav-tabs-active-link-hover-border-color:   transparent; // #ddd !default;

$nav-tabs-justified-link-border-color:            transparent; // #ddd !default;
$nav-tabs-justified-active-link-border-color:     transparent; // $body-bg !default;

//== Pills
// $nav-pills-border-radius:                   $border-radius-base !default;
// $nav-pills-active-link-hover-bg:            $component-active-bg !default;
// $nav-pills-active-link-hover-color:         $component-active-color !default;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    transparent; // #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                transparent; // rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       transparent; // #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            transparent; // #e5e5e5 !default;

//** Dropdown link text color.
// $dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
// $dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         transparent; // #f5f5f5 !default;

//** Active dropdown menu item text color.
// $dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        transparent; // $component-active-bg !default;

//** Disabled dropdown menu item background color.
// $dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
// $dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
// $dropdown-caret-color:           #000 !default;

//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(250,250,250,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #000; // #fff !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                500; // normal !default;

// $btn-default-color:              #333 !default;
// $btn-default-bg:                 #fff !default;
$btn-default-border:             transparent; // #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             transparent; // darken($btn-primary-bg, 5%) !default;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             darken($btn-success-bg, 5%) !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                darken($btn-info-bg, 5%) !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             darken($btn-warning-bg, 5%) !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// $btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0px; // $border-radius-base !default;
// $btn-border-radius-large:        $border-radius-large !default;
// $btn-border-radius-small:        $border-radius-small !default;
