.page-header {
  // padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 1.5) 0 $line-height-computed;
  //border-bottom: 1px solid $page-header-border-color;
}

.viva-header {
  color: $brand-primary;
  text-align: center;
}
